/* @font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	src: local('Pretendard-Thin'), url('./Pretendard/Pretendard-Thin.otf') format('otf');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	src: local('Pretendard-ExtraLight'), url('./Pretendard/Pretendard-ExtraLight.otf') format('otf');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	src: local('Pretendard-Light'), url('./Pretendard/Pretendard-Light.otf') format('otf');
} */

@font-face {
	font-family: 'Pretendard';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNb4j5Ba_2c7A.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNb4j1Ba_2c7A.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNb4j9Ba_2c7A.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNb4j1Ba_2c7A.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNb4j3Ba_2c7A.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	src: local('Pretendard-Regular'), url('./Pretendard/Pretendard-Regular.otf') format('otf');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	src: local('Pretendard-Medium'), url('./Pretendard/Pretendard-Medium.otf') format('otf');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	src: local('Pretendard-SemiBold'), url('./Pretendard/Pretendard-SemiBold.otf') format('otf');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	src: local('Pretendard-Bold'), url('./Pretendard/Pretendard-Bold.otf') format('otf');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	src: local('Pretendard-ExtraBold'), url('./Pretendard/Pretendard-ExtraBold.otf') format('otf');
}

/* @font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	src: local('Pretendard-Black'), url('./Pretendard/Pretendard-Black.otf') format('otf');
} */
